[project]
	description = A Brazilian WordNet
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Luis Miranda (lmiranda)
[access "refs/for/refs/*"]
	read = group user/Luis Miranda (lmiranda)
	push = group user/Luis Miranda (lmiranda)
	label-Code-Review = -2..+2 group user/Luis Miranda (lmiranda)
	label-Verified = -1..+1 group user/Luis Miranda (lmiranda)
	rebase = group user/Luis Miranda (lmiranda)
	removeReviewer = group user/Luis Miranda (lmiranda)
	submit = group user/Luis Miranda (lmiranda)
[access "refs/heads/*"]
	read = group user/Luis Miranda (lmiranda)
	create = group user/Luis Miranda (lmiranda)
	push = +force group user/Luis Miranda (lmiranda)
	pushMerge = group user/Luis Miranda (lmiranda)
[access "refs/tags/*"]
	push = +force group user/Luis Miranda (lmiranda)
	pushTag = group user/Luis Miranda (lmiranda)
	pushSignedTag = group user/Luis Miranda (lmiranda)
